.group__options{
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 10rem 1fr 1fr 5rem;
    background: linear-gradient(
        to bottom,
        var(--sec__color) 50%,
        var(--auth__gradient) 100%
      );
}

.options__header{
    padding: 1% 5% 1% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > form{
        min-width: 15rem;
        width: 75%;
        display: flex;
    }
}

.options__header > form > div{
    display: flex;
    flex-direction: column;
    width: 90%;
    color: var(--pri__text);
    font-family: mainText;
    gap: .5rem;
}

.options__header > form > div > div{
    width: 100%;
    display: flex;
    gap: .5rem;
    & > input{
        width: 90%;
        padding: .5rem;
        border: none;
        border-radius: .5rem;
        background-color: var(--pri__inter__color);
        color: var(--pri__text);
        font-family: mainText;

        &:focus{
            outline: 1px solid var(--offset__color);
        }
    }
    & > button{
        width: 10%;
        height: 100%;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--offset__color);
        border-radius: .5rem;
        & > svg{
            fill: var(--pri__text);
        }
    }
}

.member{
    padding: 1% 5% 1% 5%;

    & > h1{
        color: var(--pri__text);
        font-family: mainText;
    }
}

.button__container{
    justify-self: center;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    & > button{
        padding: .5rem 1rem .5rem 1rem;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--offset__color);
        border-radius: .5rem;
        & > svg{
            fill: var(--pri__text);
        }
    }
}

.user__row{
    display: flex;
    height: 5rem;
    align-items: center;
    padding: 1rem 0 1rem 0;

    & > div {
        display: flex;
        height: 5rem;
        align-items: center;
    }
    & > div > img{
        height: 50%;
    }

    & > div > p{
        margin-left: 1rem;
        color: var(--pri__text);
        font-family: mainText;
    }

    & > button{
        margin-left: auto;
        padding: .5rem 1rem .5rem 1rem;
        border-radius: .5rem;
        background-color: var(--pri__inter__color);
        color: var(--pri__text);
        font-family: mainText;
    }
}

@media (max-width: 600px){
    .user__row{
        height: max-content;
        flex-direction: column;
        align-items: start;
        & > button{
            margin: 0;
            width: 100%;
        }
    }
}

.delete__section{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.delete__button{
    padding: .75rem 1.5rem .75rem 1.5rem;
    background-color: var(--error);
    color: white;
    font-family: mainText;
    border-radius: .5rem;
    margin-right: 5%;
}