.settings__module{
    position: relative;
    grid-column: 2 / 3;
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.change__credentials > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.change__credentials > div > label{
    color: var(--sec__text);
    font-family: mainText;
    font-size: 1rem;
}

.change__credentials > div > input{
    width: 50%;
    background-color: var(--pri__inter__color);
    border: none;
    font-size: 1rem;
    height: 2.225rem;
    border-radius: .5rem;
    box-shadow: 0 5px 5px var(--shadow);
    font-family: subText;
    padding-left: 1rem;
    color: var(--pri__text);
    min-width: 15rem;
}

.change__credentials > div > input:focus{
    outline: 1px solid var(--offset__color);
}

.change__credentials > button{
    width: 5rem;
    padding: .5rem 1rem .5rem 1rem;
    background-color: var(--offset__color);
    color: white;
    font-family: mainText;
    border-radius: .5rem;
}

.logout > h1{
    color: var(--pri__text);
}

.logout > button {
    width: 5rem;
    padding: .5rem 1rem .5rem 1rem;
    background-color: var(--offset__color);
    color: white;
    font-family: mainText;
    border-radius: .5rem;
}

.credentials__modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(18rem, 75vw, 40rem);
    padding: 1rem 2rem 1rem 2rem;
    background:linear-gradient(to left, var(--pri__inter__color) 0%, var(--sec__inter__color) 100%);
    border: none;
    border-radius: 1rem;
}

.credentials__modal > form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.credentials__modal > form > label{
    color: var(--pri__text);
    font-family: mainText;
}

.credentials__modal > form > input{
    background-color: var(--offset__color);
    border: none;
    font-size: 1rem;
    font-family: mainText;
    padding: .525rem 1rem .525rem 1rem;
    color: var(--pri__text);
    border-radius: .5rem;
    box-shadow: 0 5px 5px var(--shadow);
}

.credentials__modal > form > input:focus{
    outline: 1px solid var(--pri__inter__color);
}

.credentials__modal > form > div{
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.credentials__modal > form > div > button{
    width: 5rem;
    padding: .5rem 1rem .5rem 1rem;
    background-color: var(--offset__color);
    color: white;
    font-family: mainText;
    border-radius: .5rem;
}

.credentials__modal > form > div > button:first-child{
    background-color: var(--pri__highlight);
}